HashHunter/*.iml
HashHunter/.gradle
HashHunter//local.properties
HashHunter//.idea/caches
HashHunter//.idea/libraries
HashHunter//.idea/modules.xml
HashHunter//.idea/workspace.xml
HashHunter//.idea/navEditor.xml
HashHunter//.idea/assetWizardSettings.xml
HashHunter/.DS_Store
HashHunter//build
HashHunter//captures
HashHunter/.externalNativeBuild
HashHunter/.cxx
HashHunter/local.properties